.projectContainer {
  border: 2px solid rgba(172, 172, 172, 0.72);
  width: max-content;
  margin: 2em auto;
  padding: 2em;
  border-radius: 10px;
  transition: border 100ms;
  text-align: center;
}

.projectContainer:hover {
  border: 2px solid rgba(235, 235, 235, 0.72);
}

.projectTitle {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.todoContainer {
  /* margin-top: 1em; */
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.1);
  padding: 0.5em;
  border-radius: 10px;
  transition:
    all 200ms,
    scale 500ms;
  border: 2px solid rgba(235, 235, 235, 0);
  box-shadow: 0px 5px 5px 0px rgba(178, 178, 178, 0.2);
}

.todoContainer > p {
  margin: 0.25em 0;
}

.todoContainer:hover,
.check:hover {
  background-color: rgba(100, 100, 100, 0.3);
  border: 2px solid rgba(235, 235, 235, 0.5);
  color: white;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 30px;
  scale: 1.1;
}

.check:hover {
  box-shadow: 0px 5px 5px 0px rgba(178, 178, 178, 0.3);
}

.subsection {
  border: 2px solid rgba(235, 235, 235, 0.2);
  border-radius: 5px;
  padding: 0.25em;
  margin: 0.25em 0;
}

.subsectionHeader {
  text-decoration: underline;
}

.priorityLow {
  color: #4644bb;
}

.priorityNormal {
  color: #44bb46;
}

.priorityUrgent {
  color: #bb4644;
}

.check {
  transition:
    all 200ms,
    scale 500ms;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 2px solid rgba(235, 235, 235, 0.2);
  border-radius: 10px;
  padding: 0.5em;
  margin-right: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 0;
  /* border: 2px solid white; */
}

