.customChecklist {
  margin-bottom: 0;
}

.checklistItem {
  cursor: pointer;
  transition: all 250ms;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0);
  padding-top: 0.25em;
}

.checklistItem:hover {
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.25);
}

.checklistItemDone {
  text-decoration-line: line-through;
}

.newContainer {
  position: absolute;
  top: 5%;
  border: 2px solid rgba(235, 235, 235, 0.72);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 30px;
  backdrop-filter: blur(50px);
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.newContainerTitle {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.radioDiv {
  display: flex;
  flex-direction: column;
}

.radioTitle {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.radioSelections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.checklistTitle {
  font-size: 1.25rem;
}

.checklistsubTitle {
  font-size: 0.9rem;
  margin-bottom: 0.5em;
}

.checklistDiv {
  margin-bottom: 2em;
  border-radius: 5px;
  border: 1px solid rgba(172, 172, 172, 0.72);
  padding: 0.5em;
}

.priority0 {
  border: 2px solid #2f8d30;
  padding: .5em;
  border-radius: 10px;
}

.priority1 {
  border: 2px solid #AC7809;
  padding: .5em;
  border-radius: 10px;
}

.priority2 {
  border: 2px solid #bb4644;
  padding: .5em;
  border-radius: 10px;
}